extends layout

block content
  h1= title
  - let result=results
  div(class="container-fluid")
     div(class='row m-1')
        each item,index in result
            -let destination = `dispatch(\"/water/update?id=${item._id}\")`
            div.col-sm-2(onclick=`buy(${index})`) Water Name: #{item["Water_Name"]} <br> Water Company: #{item["Water_Company"]} <br> Water cost: #{item["Water_cost"]} <br> Water Rating: #{item["Water_Rating"]}
                button.btn(class="btn-primary ml-1", onclick = destination) Update

  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }

  script.
      function dispatch(path){
      window.location.href=path
      }